      .header-logo {
        width: 15%;
        margin-left: 30px;
      }

      .flex {
        display: flex;
        justify-content: space-between;
      }

      .nav-list {
        display: flex;
        list-style: none;
        margin-top: 10px;
        margin-right: 0px;
      }

      .nav-list li {
        padding-right: 20px;
      }



      .img-firstview {
        margin-top: 10px;
        position: relative;
        margin-left: auto;
        margin-right: 0;
        display: block;

        width: 60%;
        height: 40%;
      }


      .firstview-title {
        position: absolute;
        top: 20%;
        left: 18%;
        font-size: 50px;
        color: rgb(161, 24, 47);

      }

      .span-title {
        color: rgb(53, 188, 188);
      }

      .firstview-lead {
        position: absolute;
        top: 50%;
        left: 18%;
        font-size: 23px;
        color: rgb(161, 24, 47);

      }

      .span-lead {
        color: rgb(53, 188, 188);

      }

      .firstview-text {
        position: absolute;
        top: 55%;
        left: 18%;
        font-size: 15px;
        padding-top: 5px;

      }

      .news {}


      .common-sub-title {
        margin-top: 50px;
        color: rgb(197, 44, 197);
        margin-left: 300px;


      }

      .common-title {
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 300px;
        border-bottom: 2px solid;
        padding-bottom: 20px;
      }



      .news-list li {
        display: flex;
        margin-left: 300px;
        border-bottom: 1px solid;
        padding-top: 20px;
        padding-bottom: 10px;

      }



      .news-list-date {
        margin-right: 20px;
        margin-bottom: 10px;

      }

      .news-list-cat {
        margin-right: 20px;
        border-radius: 30px;
        border: 1px solid magenta;
        background-color: magenta;
        display: block;
        width: 100px;


      }

      .news-list-detail {}




      .container {
        background-color: #ebebeb;

      }

      .container-content {
        display: flex;

      }

      .about-text {
        margin-top: 20px;
      }

      .about-text2 {
        margin-top: 30px;
      }


      .about-img img {
        width: 100%;
      }

      .about-img {
        width: 40%;
        height: 40%;
        display: block;
        margin-left: auto;
        margin-right: 100px;
        margin-bottom: 50px;

      }

      .service-wrap-item-first {
        width: 20%;
        position: relative;
        margin-left: 300px;
        background-color: magenta;

      }

      .service-wrap-item-second {
        width: 20%;
        position: absolute;
        margin-left: 50%;
        background-color: violet;
        margin-top: -300px;


      }

      .service-wrap-item-third {
        width: 20%;
        position: absolute;
        margin-left: 500px;
        background-color: pink;

      }