      .header-logo {
        width: 15%;
        margin-left: 30px;
      }

      .flex {
        display: flex;
        justify-content: space-between;
      }

      .nav-list {
        display: flex;
        list-style: none;
        margin-top: 10px;
        margin-right: 0px;
      }

      .nav-list li {
        padding-right: 20px;
      }



      .img-firstview {
        margin-top: 10px;
        position: relative;
        margin-left: auto;
        margin-right: 0;
        display: block;

        width: 60%;
        height: 40%;
      }


      .firstview-title {
        position: absolute;
        top: 20%;
        left: 18%;
        font-size: 50px;
        color: rgb(161, 24, 47);

      }

      .span-title {
        color: rgb(53, 188, 188);
      }

      .firstview-lead {
        position: absolute;
        top: 50%;
        left: 18%;
        font-size: 23px;
        color: rgb(161, 24, 47);

      }

      .span-lead {
        color: rgb(53, 188, 188);

      }

      .firstview-text {
        position: absolute;
        top: 55%;
        left: 18%;
        font-size: 15px;
        padding-top: 5px;

      }

      .news {
        border-bottom: 2px solid;
        width: 800px;
        padding-top: 30px;

        padding-bottom: 30px;
        margin-left: 300px;

        margin-top: 10px;


      }


      .common-sub-title {
        margin-top: 50px;
        color: rgb(197, 44, 197);



      }

      .common-title {
        margin-top: 10px;
        margin-bottom: 10px;

        border-bottom: 2px solid;
        width: 100%;
        padding-bottom: 30px;
      }



      .news-list li {
        display: flex;

        border-bottom: 1px solid;
        width: 100%;
        padding-top: 3%;
        padding-bottom: 10px;
        text-align: center;
        align-items: center;

      }



      .news-list-date {
        margin-right: 20px;
        margin-bottom: 10px;

      }

      .news-list-cat {
        margin-right: 20px;
        border-radius: 30px;
        border: 1px solid magenta;
        background-color: magenta;
        display: block;
        width: 100px;
        margin-bottom: 10px;


      }

      .news-list-detail {
        margin-bottom: 10px;
      }






      .common-sub-title2 {
        margin-top: 80px;
        padding-top: 30px;
        color: rgb(197, 44, 197);
        text-align: center;


      }

      .common-title2 {
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;


      }

      .container {
        background-color: #ebebeb;

      }

      .container-content {
        display: flex;

      }

      .about-text {
        margin-top: 20px;
        margin-left: 200px;
      }

      .about-text2 {
        margin-top: 30px;
        margin-left: 200px;

      }


      .about-img img {
        width: 100%;
      }

      .about-img {
        width: 30%;

        display: block;
        margin-left: auto;
        margin-right: 150px;
        margin-bottom: 50px;

      }






      .common-sub-title3 {
        color: rgb(197, 44, 197);
        margin-top: 50px;
        margin-left: 100px;


      }

      .common-title3 {
        margin-top: 10px;
        margin-left: 100px;
        margin-bottom: 30px;

      }

      .service-content {
        display: grid;
        grid-template-rows: 200px 200px;
        grid-template-columns: 1fr 1fr;
      }





      .service-wrap-item-img img {
        width: 100%;

      }

      .service-wrap-item-img {
        width: 35%;
        margin-left: auto;
        margin-right: auto;

      }

      .service-wrap-item-first {
        background-color: magenta;
        grid-row: 1 / 3;
        grid-column: 1 / 3;
        margin-left: 100px;
        padding-top: 30px;


      }

      .service-wrap-item-first-title {
        margin-top: 20px;
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 20px;

      }

      .service-wrap-item-first-text {
        margin-top: 20px;
        color: white;
        font-size: 16px;
        text-align: center;


      }





      .service-wrap-item-second {
        background-color: violet;
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        display: flex;
        margin-right: 100px;

      }

      .service-wrap-item-second-title {
        margin-top: 30px;
        color: white;
        font-weight: bold;
        font-size: 20px;


      }

      .service-wrap-item-second-text {
        margin-top: 30px;
        color: white;
        font-size: 16px;
        margin-right: 10px;
      }




      .service-wrap-item-third {
        background-color: pink;
        display: flex;
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        margin-right: 100px;
      }

      .service-wrap-item-third-title {
        margin-top: 30px;
        color: white;
        font-weight: bold;
        font-size: 20px;

      }

      .service-wrap-item-third-text {
        margin-top: 30px;
        color: white;
        font-size: 16px;
      }






      .blog {
        background-color: #ebebeb;

      }

      .common-sub-title4 {
        color: rgb(197, 44, 197);
        margin-top: 50px;
        margin-left: 100px;
        padding-top: 20px;

      }

      .common-title4 {
        margin-top: 20px;
        margin-left: 100px;
        margin-bottom: 30px;

      }


      .blog-container {

        margin-left: auto;
        margin-right: auto;

      }

      .blog-content {
        display: flex;
        justify-content: space-around;

      }


      .blog-img img {
        width: 100%;
        border-radius: 20px 0 0 0;
      }

      .blog-img {
        width: 20%;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
        position: relative;
        border-radius: 20px 0 0 0;

      }


      .blog-item-content {
        padding: 15px 25px;

      }

      .blog-title {
        font-size: 18px;
        margin-bottom: 30px;
        font-weight: 400;
      }

      .blog-cat {
        margin-top: -287px;
        margin-left: -25px;
        background: magenta;

        position: absolute;
        color: white;
        width: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px 0 0 0;

        text-align: center;
      }


      .blog-tag {
        display: flex;


      }

      .blog-date {
        margin-left: -20px;
      }

      .blog-tag-item {
        margin-left: 20px;
      }



      .blog-btn {
        width: 200px;

        padding: 10px 0;
        color: magenta;
        border-radius: 30px;

        border: 1px solid magenta;

        text-align: center;
        margin: 100px auto 0;
        display: block;

        font-weight: bold;
        background-color: white;

        margin-top: 30px;



      }






      .common-sub-title5 {
        color: rgb(197, 44, 197);
        margin-top: 50px;
        margin-left: 240px;
      }

      .common-title5 {
        margin-top: 30px;
        margin-left: 240px;
      }



      .company-table table {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;

      }

      .company-table th {
        border: 1px solid #ccc;
        padding: 20px;

        font-weight: bold;
        background-color: #dedede;
        width: 200px;
        text-align: left;
      }


      .company-table td {
        border: 1px solid #ccc;
        padding: 20px;
        width: 500px;

      }




      .recruit-content {
        display: flex;
        margin-top: 100px;
        position: relative;

      }

      .recruit-title {
        position: absolute;
        margin-top: -160px;
        margin-left: 300px;
        color: white;
        font-weight: bold;
        font-size: 20px;

      }

      .recruit-title2 {
        position: absolute;
        margin-top: -160px;
        left: 73%;
        color: white;
        font-weight: bold;
        font-size: 20px;

      }





      .contact-title {
        text-align: center;
        margin-top: 100px;
        font-weight: bold;

      }

      .contact-title::before {
        height: 40px;
        width: 2px;
        content: "";
        background: #b31566;

        position: absolute;
        margin-top: 50px;
        left: 50%;
      }

      .contact-btn {
        position: relative;
        background-color: magenta;
        width: 200px;

        padding: 18px;
        text-align: center;
        display: block;
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        border-radius: 30px;

        margin: 100px auto;

        box-shadow: 5px 5px 0 magenta;
      }